<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick ="vm.openform()">Open Form</button>
        <h1>{{'Nilai a: '+ a }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a : 0,
            },
            methods : {
                openForm : function(){
                    this.a = prompt("Masukkan nilai a")
                }
            }
        })
    </script>

    <script>
     var vm = new Vue({
            el: '#app',
            data: function CalcAvg(a,n) {
            var grades = new Array();
            for(var i=1;i<=n;i++) {
            grades.push(parseFloat(a.elements[i].value));
            total += grades[i-1];
            }
            var average = total / n;
            return average;
},
            methods : {
                openForm : function(){
                    this.average = prompt("Rata-rata")
                }
            }
        })

    </script>
</body>
</html>