<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <form>
    <div class="container">
    <div id="app">
        <input v-model="query">
        <li
            v-for="(item) in result"
            v-bind:key="item.books"
            v-bind:data-index="index"
        >{{item.books}}
        </li>
    </form>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
     new Vue({
        el: '#app',
        data: {
            query:"",
				books:[
                    'Kalkulus',
                    'Fisika Dasar',
                    'Kimia Dasar'
				],
				isSearching:false,
				result: []
			},
			watch: {
				query: function () {
					var vm = this
					this.isSearching = true;
					setTimeout(function(){

						vm.result = vm.books.filter(function (item){
							return item.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
						})
					}, 500)
				}
        },
        })
  </script>
</body>
</html>